<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917862081429-u5aihceqlim58tibs9t480sggstmtdqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917862081429-u5aihceqlim58tibs9t480sggstmtdqr</string>
	<key>API_KEY</key>
	<string>AIzaSyAGkvZXo2iCJUGA43pyHX8128j_SPhZjrs</string>
	<key>GCM_SENDER_ID</key>
	<string>917862081429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.MoviesApp</string>
	<key>PROJECT_ID</key>
	<string>movies-app-4ae6c</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-app-4ae6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917862081429:ios:96c37ea053389b06ea8c9c</string>
</dict>
</plist>